.ETcontainer{
    background:var(--primary-bg-color);
    min-height: 100vh;
    padding: 30px;
    /* border: 2px solid white; */
}
.ETcontainer h1{
    color: #fff;
    margin-bottom: 10px;
}
.CardAndChartWrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:32px;
    /* border: 2px solid red; */
    background: #626262;
    border-radius:10px;
    padding:48px;
}
.transactionsWrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:32px;
}
@media(max-width:767px){
    .CardAndChartWrapper{
        padding:16px;
        grid-template-columns: 1fr;
        gap:40px;
    }
    .transactionsWrapper{
        grid-template-columns: 1fr;
    }
}